/.DS_Store
/.localized
/.vscode
/Book1.xlsx
/CASTANCHORSiteMap.drawio
/HTML
/Python
/TESTmode1
/TESTmode3
/TESTmode4
/Udemy
/VUEJS
/Web mansion
/ZOWIE XL LCD.txt
/asa
/kyototachibana
/mode1
/rirekisyo_a4_pages.docx
/納品書.pdf
/請求書.pdf
/請求書.xlsx
/請求書ver2.xlsx